/* {
	border: 1px solid red !important;
}*/

body{
font-family: 'Lato', sans-serif;
word-wrap: break-word;
}

.bg-black{
	background-color: black;
	color: white;
}
.bg-blue {
	background-color: #354b59;
	color: white;

}

.bg-blue li:hover {
	background-color: #1c4587;;

}

.bg-blue h1,.bg-blue h2 {
	font-family: Impact, Charcoal, sans-serif;
	letter-spacing: 3px;
}
.bg-blue input,.bg-blue select, .bg-blue button {
	color: black;
}

.bg-white{
	color: #354b59;
	background-color: white;
}

